{% extends 'base.html.twig' %}
{% block body %}
   <!-- HEADER -->
	<header>
		<!-- start top header -->
		<div id="top-header">
			<div class="container"> 
				<ul class="header-links pull-left">
					<li><a href="#"><i class="fa fa-phone"></i> +216 22 333 444</a></li>
					<li><a href="#"><i class="fa fa-envelope-o"></i> email@JeBouquine </a></li>
					<li><a href="#"><i class="fa fa-map-marker"></i>Nabeul, Tunisia  </a></li>
				</ul>
				<ul class="header-links pull-right">
					<!-- <li><a href="#"><i class="fa fa-dollar"></i>100 DT</a></li> -->
					<li><a href="#"><i class="fa fa-user-o"></i> My Account</a></li>
				</ul>
			</div>
		</div>
		<!-- end top header -->

		<!-- start main header -->
		<div id="header">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<div class="header-logo">
							<a href="/" class="logo">
								<img src="./img/logo.png" alt="">
							</a>
						</div>
					</div>
	
					<!-- SEARCH BAR -->
					<div class="col-md-6">
						<div class="header-search">
							{{ form_start(form) }}
			
							{{ form_row(form.nom, {'label': false , 'attr': {'class':'input'}}) }}
								<button type="submit" class="search-btn">Search</button>
							{{ form_end(form) }}
						</div>
					</div>
					<!-- /SEARCH BAR -->

					<!--start Wishlist & Cart -->
					<div class="col-md-3 clearfix">
						<div class="header-ctn">
							<div>
								<a href="#">
									<i class="fa fa-heart-o"></i>
									<span>Your Wishlist</span>
									<div class="qty">2</div>
								</a>
							</div>
							<div>
								<a href="#">
									<i class="fa fa-shopping-cart"></i>
									<span>Your Cart</span>
									<div class="qty">2</div>
								</a>
							</div>
						<!-- end Wishlist & Cart -->
						<!-- Menu Toogle -->
							<!-- <div class="menu-toggle">
								<a href="#">
									<i class="fa fa-bars"></i>
									<span>Menu</span>
								</a>

							</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- end header -->
<!-- start filter & books -->
	<div class=" section">
		<div class="container">
			<div class="row ">
				<!-- start filter -->
				<!-- Menu Toogle -->

				<div id="aside" class="col-md-3  filter">
					<div class="menu-toggle mt-5">
						<a href="#" class="menu text-center ml-3">
							<i class="fa fa-bars"></i>
							<span class="h4">Filtre</span>
						</a>
					</div>
					<div class="all-filtre">			
						<div class="aside category ">
							<h3 class="aside-title">Categories</h3>
							<div class="checkbox-filter">
								<div class="input-checkbox">
									<input type="checkbox" id="category-1">
									<label for="category-1">
										<span></span>
										History 
										<small>(120)</small>
									</label>
								</div>
								<div class="input-checkbox">
									<input type="checkbox" id="category-2">
									<label for="category-2">
										<span></span>
										Computer & Technology 
										<small>(740)</small>
									</label>
								</div>
								<div class="input-checkbox">
									<input type="checkbox" id="category-3">
									<label for="category-3">
										<span></span>
										Science 
										<small>(1450)</small>
									</label>
								</div>
								<div class="input-checkbox">
									<input type="checkbox" id="category-4">
									<label for="category-4">
										<span></span>
										Business & Money
										<small>(578)</small>
									</label>
								</div>
								<div class="input-checkbox">
									<input type="checkbox" id="category-5">
									<label for="category-5">
										<span></span>
										Self-Development 
										<small>(120)</small>
									</label>
								</div>
								<div class="input-checkbox">
									<input type="checkbox" id="category-6">
									<label for="category-6">
										<span></span>
										Romance 
										<small>(740)</small>
									</label>
								</div>
								<div class="input-checkbox">
									<input type="checkbox" id="category-7">
									<label for="category-7">
										<span></span>
										Children's Books 
										<small>(740)</small>
									</label>
								</div>
								<div class="input-checkbox">
									<input type="checkbox" id="category-8">
									<label for="category-8">
										<span></span>
										Cookbooks food & Wine 
										<small>(740)</small>
									</label>
								</div>
							</div>
						</div>
						<div class="aside price ">
							<h3 class="aside-title">Price</h3>
							<div class="price-filter">
								<div id="price-slider"></div>
								<div class="input-number price-min bg-dark">
									<input id="price-min" type="number" value="1">
									<span class="qty-up">+</span>
									<span class="qty-down">-</span>
								</div>
								<span>-</span>
								<div class="input-number price-max">
									<input id="price-max" type="number" value="500">
									<span class="qty-up">+</span>
									<span class="qty-down">-</span>
								</div>
							</div>
						</div>
						<div class="aside author">
							<h3 class="aside-title">Author</h3>
							<div class="select-filter">
								<select name="" id="" class="input-select">
									<option value="">William Shakespeare</option>
									<option value="">William Faulkne</option>
									<option value="">Henry James</option>
									<option value="">Jane Austen </option>
								</select>
							</div>
						</div>
						<div class="aside Language  ">
							<h3 class="aside-title">Language </h3>
							<div class="checkbox-filter">
								<div class="input-checkbox">
									<input type="checkbox" id="Language-1">
									<label for="Language-1">
										<span></span>
										Arabic
										<small>(50)</small>
									</label>
								</div>
								<div class="input-checkbox">
									<input type="checkbox" id="Language-2">
									<label for="Language-2">
										<span></span>
										Français 
										<small>(15)</small>
									</label>
								</div>
								<div class="input-checkbox">
									<input type="checkbox" id="Language-3">
									<label for="Language-3">
										<span></span>
										English
										<small>(120)</small>
									</label>
								</div>
							
							</div>
						</div>
					</div>
				</div>
				<!-- end filter -->
				<!-- start aside books -->
				<div id="books" class="col-md-9">
					<div class="books-filter clearfix">
						<div class="books-sort " style="margin-top: 10px;">
							<label>
								Sort By:
								<select class="input-select">
									<option value="0">Popular Books</option>
									<option value="1">Price : low to high</option>
									<option value="1">Price : high to low</option>
									<option value="1">New Books</option>
								</select>
							</label>
							<label>
								Show:
								<select class="input-select">
									<option value="0">10</option>
									<option value="0">20</option>
									<option value="1">30</option>
								</select>
							</label>
						</div>
					</div>
                    <!--start  books  -->
					<div class="row " >
                    {% for livre in livres %}
						<div class="col-md-3 col-sm-4">
							<div class="book">
								<div class="box">
									<div class="book-img">
										<img src={{livre.path}} alt="">
										<div class="book-label">
											<span class="sale">{{livre.promo}}%</span>
											<span class="sale">{{livre.etat}}</span>
											<!-- <span class="new">NEW</span> -->
										</div>
									</div>
									<div class="book-overlay">
										<ul>
											<li><a href="#"><i class="fa fa-heart"></i></a></li>
											<li><a href="{{livre.codelivre}}"><i class="fa fa-eye"></i></a></li>
											<li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
										</ul>
									</div>
								</div>
								<div class="book-body">
									<h3 class="book-name"><a href="#">{{livre.titre}}</a></h3>
									<!-- <p class="book-ather">William Shakespeare</p> -->
									<h4 class="book-price">{{livre.prix-(livre.prix*(livre.promo/100))}} Dt<del class="book-old-price"> {{livre.prix}}Dt</del></h4>
									<div class="book-rating">
										<i class="fa fa-star active"></i>
										<i class="fa fa-star active"></i>
										<i class="fa fa-star active"></i>
										<i class="fa fa-star active"></i>
										<i class="fa fa-star"></i>
									</div>
								</div>

							</div>
						</div>
                    {% endfor %}
					</div>
                            
	<div class="" style="margin-left: 25%;">
							<nav aria-label="...">
								<ul class="pagination ">
									<li class="page-item disabled">
										<a class="page-link" href="#" tabindex="-1">Previous</a>
									</li>
									<li class="page-item"><a class="page-link" href="#">1</a></li>
									<li class="page-item active">
										<a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
									</li>
									<li class="page-item"><a class="page-link" href="#">3</a></li>
									<li class="page-item"><a class="page-link" href="#">4</a></li>
									<li class="page-item"><a class="page-link" href="#">5</a></li>
									<li class="page-item"><a class="page-link" href="#">6</a></li>
									<li class="page-item"><a class="page-link" href="#">7</a></li>
									<li class="page-item">
										<a class="page-link" href="#">Next</a>
									</li>
								</ul>
							</nav>
						</div>
				</div>
				<!-- end aside books -->
			</div>
		</div>
	</div>
	<!-- end filter & books -->
{{ include('footer.html.twig')}}
	


{% endblock %}
